@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-c_bg dark:bg-cd_bg;
  }
  h1 {
    @apply font-montserrat text-xl_ font-bold text-c_main dark:text-cd_main;
  }
  h2 {
    @apply font-montserrat text-lg font-bold text-c_main dark:text-cd_main;
  }
  h3 {
    @apply font-montserrat text-base font-bold text-c_main dark:text-cd_main;
  }
  h4 {
    @apply font-montserrat text-sm font-bold text-c_secondary dark:text-cd_secondary;
  }
  h5 {
    @apply font-montserrat text-xs font-bold text-c_secondary dark:text-cd_secondary;
  }
  p {
    @apply font-montserrat text-base font-medium text-c_main dark:text-cd_main;
  }
  abbr {
    @apply c3;
  }
  .b1 {
    @apply font-montserrat text-b font-bold text-c_main dark:text-cd_main;
  }
  .b2 {
    @apply font-montserrat text-b font-medium text-c_main dark:text-cd_main;
  }
  .b3 {
    @apply font-montserrat text-xl font-bold text-c_main dark:text-cd_main;
  }
  .b4 {
    @apply font-montserrat text-lg font-medium text-c_main dark:text-cd_main;
  }
  .c1 {
    @apply font-montserrat text-sm font-medium text-c_main dark:text-cd_main;
  }
  .c2 {
    @apply font-montserrat text-xs font-medium text-c_main dark:text-cd_main;
  }
  .c3 {
    @apply font-montserrat text-xs font-bold text-c_main dark:text-cd_main;
  }
  .c4 {
    @apply font-montserrat text-xs font-semibold text-c_main dark:text-cd_main;
  }
}

/* --------------------------------------------------------- */
/* ------------------------ Calendar ----------------------- */
/* --------------------------------------------------------- */

:root {
  --tile-flex-basis: 13%;
}

.react-calendar__month-view__days,
.react-calendar__month-view__weekdays {
  @apply justify-evenly;
}

.react-calendar__tile {
  @apply duration-300 ease-in-out h-10 pb-1 transition-all z-0 will-change-transform;
  flex: 0 0 var(--tile-flex-basis) !important;
}

.react-calendar__month-view__weekdays__weekday abbr {
  @apply text-c_inactive dark:text-cd_inactive capitalize decoration-transparent;
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
  @apply text-c_inactive dark:text-cd_inactive;
}

.react-calendar__tile--range abbr {
  @apply text-c_bg;
}

.react-calendar__tile--showed-minified.react-calendar__tile--now {
  @apply rounded-t-none border-t-transparent;
}

.react-calendar__month-view__weekdays__weekday {
  @apply rounded-full pb-[0.4rem] pt-2 z-0;
  flex: 0 0 var(--tile-flex-basis) !important;
}

.react-calendar__month-view__weekdays__weekday--now-minified abbr {
  @apply text-c_main dark:text-cd_main;
}

.react-calendar__month-view__weekdays__weekday--active-minified abbr {
  @apply text-c_bg;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
